body  {
    height: 100vh;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}


.nav-bar {
    width: 280px;
}

.nav-bar .nav-name {
    padding-left: 1rem;
}

i.nav-icon {
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
}

.contact-menu {
    padding: 0;
    text-align: center;
    list-style: none;
}

.contact-menu > .contact-item {
    display: inline-block;
}