{% extends "layout.html" %} 


{% block title %}
    Education
{% endblock %}


{% block navigation %}
    <li class="nav-item">
        <!-- To edit this path later when we convert to native html -->
        <a href="about.html" class="nav-link text-white">
            <i class="fas fa-address-card nav-icon"></i>
            About
        </a>
    </li>

    <li class="nav-item">
        <!-- To edit this path later when we convert to native html -->
        <a href="experience.html" class="nav-link text-white">
            <i class="fas fa-briefcase nav-icon"></i>
            Experience
        </a>
    </li>

    <li class="nav-item">
        <!-- To edit this path later when we convert to native html -->
        <a href="portfolio.html" class="nav-link text-white">
            <i class="fas fa-clipboard-list nav-icon"></i>
            Portfolio
        </a>
    </li>

    <li class="nav-item">
        <!-- To edit this path later when we convert to native html -->
        <a href="skills.html" class="nav-link text-white">
            <i class="far fa-chart-bar nav-icon"></i>
            Skills
        </a>
    </li>

    <li class="nav-item">
        <!-- To edit this path later when we convert to native html -->
        <a href="awards.html" class="nav-link text-white">
            <i class="fas fa-award nav-icon"></i>
            Awards/Certifications
        </a>
    </li>

    <li class="nav-item">
        <!-- To edit this path later when we convert to native html -->
        <a href="education.html" class="nav-link text-white active">
            <i class="fas fa-graduation-cap nav-icon"></i>
            Education
        </a>
    </li>

    <li class="nav-item">
        <!-- To edit this path later when we convert to native html -->
        <a href="resume.html" class="nav-link text-white">
            <i class="fas fa-file-alt nav-icon"></i>
            Resume
        </a>
    </li>
{% endblock %}