<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Include Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <link href="static/all.css" rel="stylesheet">

    <!-- To edit this path later when we convert to native html -->
    <link href="static/styles.css" rel="stylesheet">

    {% block javascript %}{% endblock %}

    <title>{% block title %}{% endblock %} | Addison</title>
</head>

<body>
    <main>
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark nav-bar">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="nav-name h3">Addison Chew</span>
            </a>
            <span class="nav-name">Data Analyst</span>
            <hr>

            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <!-- To edit this path later when we convert to native html -->
                    <a href="about.html" class="nav-link active">
                        <i class="fas fa-address-card nav-icon"></i>
                        About
                    </a>
                </li>

                <li class="nav-item">
                    <!-- To edit this path later when we convert to native html -->
                    <a href="experience.html" class="nav-link text-white">
                        <i class="fas fa-briefcase nav-icon"></i>
                        Experience
                    </a>
                </li>

                <li class="nav-item">
                    <!-- To edit this path later when we convert to native html -->
                    <a href="portfolio.html" class="nav-link text-white">
                        <i class="fas fa-clipboard-list nav-icon"></i>
                        Portfolio
                    </a>
                </li>

                <li class="nav-item">
                    <!-- To edit this path later when we convert to native html -->
                    <a href="skills.html" class="nav-link text-white">
                        <i class="far fa-chart-bar nav-icon"></i>
                        Skills
                    </a>
                </li>

                <li class="nav-item">
                    <!-- To edit this path later when we convert to native html -->
                    <a href="awards.html" class="nav-link text-white">
                        <i class="fas fa-award nav-icon"></i>
                        Awards/Certifications
                    </a>
                </li>

                <li class="nav-item">
                    <!-- To edit this path later when we convert to native html -->
                    <a href="education.html" class="nav-link text-white">
                        <i class="fas fa-graduation-cap nav-icon"></i>
                        Education
                    </a>
                </li>

                <li class="nav-item">
                    <!-- To edit this path later when we convert to native html -->
                    <a href="resume.html" class="nav-link text-white">
                        <i class="fas fa-file-alt nav-icon"></i>
                        Resume
                    </a>
                </li>
            </ul>
            <hr>
            <div>
                <ul class="contact-menu">
                    <li class="contact-item">
                        <a href="/" class="nav-link text-white">
                            <i class="fab fa-linkedin fa-lg"></i>
                        </a>
                    </li>

                    <li class="contact-item">
                        <a href="/" class="nav-link text-white">
                            <i class="fab fa-github fa-lg"></i>
                        </a>
                    </li>

                    <li class="contact-item">
                        <a href="/" class="nav-link text-white">
                            <i class="fas fa-envelope fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>